@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.brand-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 30px;
}

.home-heading {
  font-size: 60px;
  color: rgb(255, 94, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 200;
  margin-top: 30px;
}

.home-sub-heading {
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 10px;
}

.meal-category {
  font-weight: bold;
  font-size: 17px;
}

.recipe-index-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  margin-top: 50px;
}

.recipe-heading {
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 94, 0);
}

.center-text {
  text-align: center;
}

.recipe-show-image-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.recipe-show-image {
  width: 100%;
}

.post-heading {
  text-align: center;
}

.recipe-image {
  border-radius: 50px;
}

.recipe-show-image {
  border-radius: 50px;
}

.recipe-show-description {
  text-align: center;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
}

.recipe-input {
  border: 1.5px solid rgb(247, 227, 216);
  width: 85%;
}

.gen-heading {
  font-size: 35px;
  margin: 30px 0 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-heading {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.weak-heading {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-box {
  display: flex;
  margin: 20px 0 10px;
  justify-content: center;
}

.button-style {
  color: black;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
}

.edit-button {
  margin-right: 10px;
}

.edit-button a {
  color: black;
}

.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.form-border {
  border: 2px solid rgb(255, 94, 0);
  border-radius: 5px;
  padding: 25px;
}

.user-tag {
  color: black;
  font-size: 15px;
  margin-top: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.post-inputs {
  display: flex;
  padding: 15px;
}

.post-label {
  display: flex;
  justify-content: start;
  width: 15%;
  font-size: 1rem;
}

.recipe-flex-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 20px;
}
